<div class="container" *ngIf="empDetails">
  <div class="table-wrapper">
      <div class="table-title">
          <div class="row">
              <div class="col-sm-8"><h2>Employee <b>Details</b></h2></div>
              <div class="col-sm-4">
                  <button type="button" class="btn btn-info add-new" [routerLink]="['/create']"><i class="fa fa-plus"></i> Add New</button>
              </div>
          </div>
      </div>
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Phone</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let empDetail of empDetails; let i=index">
                  <td>{{empDetail.firstName}}</td>
                  <td>{{empDetail.lastName}}</td>
                  <td></td>
                  <td>
                      <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                      <a class="edit" title="Edit" data-toggle="tooltip" [routerLink]="['/create']" (click)="editEmployee(i)"><i class="material-icons">&#xE254;</i></a>
                      <a class="delete" title="Delete" data-toggle="tooltip" (click)="deleteEmployee(empDetail._id,i)"><i class="material-icons">&#xE872;</i></a>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
